/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;

  p {
    width: 100%;
  }

  width: 100%;
  max-width: 100ch;
  margin: 0 auto;
}
